@use '../base/mixins' as *;

.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding-block: 1.25rem;

  box-shadow:
    0px 2px 2px 0px hsla(0,0%,0%,0.14), 
    0px 3px 1px -2px hsla(0,0%,0%,0.12), 
    0px 1px 5px 0px hsla(0,0%,0%,0.2);

  .container {
    flex-direction: column;
    justify-content: space-between;
    gap: .5rem;
    margin: 0 auto;

    @include mq('phone-wide') {
      flex-direction: row;
    }
  }

  &__title {
    color: inherit;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      opacity: .7;
    }
  }

  &__mode {
    display: flex;
    align-items: center;
    transition: opacity .2s ease;
    font-weight: 600;
    cursor: pointer;
    gap: .5rem;

    &:hover {
      opacity: .7;
    }
    
    span {
      display: flex;
      font-size: 1.125rem;
      
    }
  }
}