.header {
  padding-block: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  .container {
    justify-content: space-between;
    margin: 0 auto;
  }

  &__title {
    color: black;
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: none;

    &:hover {
      opacity: .7;
    }
  }

  &__mode {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 600;
    cursor: pointer;

    span {
      display: flex;
      font-size: 1.125rem;
    }
  }
}