@use '../base/variables' as *;

.light-mode {
  transition: .3s ease;
  background-color: $white;
  color: $very-dark-blue ;
}
  
.dark-mode {
  transition: .3s ease;
  background-color: $dark-blue100;
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.main.light-mode {
  transition: .3s ease;
  background-color: $very-light-gray;
  color: $very-dark-blue ;
}
  
.main.dark-mode {
  transition: .3s ease;
  background-color: $very-dark-blue200;
  color: $white;
}

.dark-mode-secondary {
  transition: .3s ease;
  background-color: $very-dark-blue200;
  color: $white;
}
